<ion-view view-title="Search" align-title="left">
    <ion-content style="background: url(img/search.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>SergheiApp</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Search" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Search</button>
        </div>
    </ion-content>
</ion-view>
